<IfModule mod_rewrite.c>
  RewriteEngine On

  SetEnv DB_HOST pelda_host
  SetEnv DB_NAME test_db
  SetEnv DB_USER user
  SetEnv DB_PASSWORD password

  SetEnv DEPLOYMENT_ENV DEV

  RewriteCond %{REQUEST_URI} ^.*static/(.*)
  RewriteRule ^(.*)$ src/build/static/%1 [END]

  RewriteCond %{REQUEST_URI} ^.*manifest.json
  RewriteRule ^(.*)$ src/build/manifest.json [END]

  RewriteCond %{REQUEST_URI} ^.*logo192
  RewriteRule ^(.*)$ src/build/logo192.png [END]

  RewriteCond %{REQUEST_URI} ^.*favicon
  RewriteRule ^(.*)$ src/favicon.ico [END]

  # Minden más esetben az index.php-t futtasd le
  RewriteRule (.*)  src/index.php [QSA]
</IfModule>
